:root {
  --bg-color: #131313;
  --highlighted-color: #2b2b2b;
  --text-color: #ffffff;
  --folder-text-color: #fefe84;
  --folder-highlighted-color: #303024;
  --media-text-color: #fea4fe;
  --media-highlighted-color: #302430;
  --youtube-text-color: #fe9e84;
  --youtube-highlighted-color: #302824;

  --info-color: #a8a19f;
  --warning-color: #a0a028;
  --error-color: #a03c28;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.border-0, .border-1, .border-2 {
  border-width: 0.1em;
  border-style: solid;
}

.border-0 {
  border-color: var(--info-color);
}

.border-1 {
  border-color: var(--warning-color);
}

.border-2 {
  border-color: var(--error-color);
}

.message-box {
  visibility: hidden;
  max-width: 40em;
  height: auto;
}

.message-box > * {
  margin-left: 10px;
  margin-right: 10px;
  white-space: pre-wrap;
}

.message-box > pre {
  font-size: 1.2em;
}

.nav-folders {
  padding: 0;
}

.nav-folders * {
  padding: 0;
}

#command-input {
  min-height: 1em;
  height: auto;
  width: 20em;
}

.command-window {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

.command-input-box {
  overflow: hidden;
}

.suggestions {
  opacity: 0.5;
}

.command-window, .command-window * {
  padding: 0;
}

.left-to-right-list {
  list-style-type:none;
}

.left-to-right-list>li {
  margin-bottom: 1em;
  vertical-align:bottom;
  display: inline-block;
  zoom: 1;
  position: relative;
  background-color: var(--bg-color);
}

.nav-folder-depth {
  margin-bottom: 1em;
  opacity: 0.5;
  vertical-align:top;
  display: inline-block;
  zoom: 1;
  position: relative;
}

.folder a{
  color: var(--folder-text-color);
}

.image a, .video a {
  color: var(--media-text-color)
}

.youtube a {
  color: var(--youtube-text-color)
}

.folder, .link {
  max-width: 20em;
  min-width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  visibility: hidden;
  height: 0;
}

.link:hover, .link.selected {
  background-color: var(--highlighted-color);
}

.folder:hover, .folder.selected{
  background-color: var(--folder-highlighted-color);
}

.image:hover, .video:hover, .image.selected, .video.selected {
  background-color: var(--media-highlighted-color);
}

.youtube:hover, .youtube.selected {
  background-color: var(--youtube-highlighted-color);
}

.preview-depth {
  opacity: 1;
}

.preview-window {
  position: relative;
  max-width: 40em;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-window a {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.preview-window iframe {
  border: none;
}

.preview-content {
  max-width: 40em;
  display: table;
}

.current {
  opacity: 1;
}

.visible {
  height: auto;
  visibility: visible;
}
